snippet rsic "Reactive Property"
	private ${1:type} ${2:_name};
	public ${1:type} ${3:Name}
	{
		get => ${2:_name};
		set => this.RaiseAndSetIfChanged(ref ${2:_name}, value);
	}
snippet ls "List"
	var ${1:name} = new List<${2:type}>();
