snippet lz "lazy plugin"
	{
		"${1}",
		config = true,
		dependencies = {${2}},
	},
snippet lazy "big lazy plugin"
	{
		"${1}",
		config = function()
			require("config.${2}")
		end,
		cmd = {
			"${3}",
		},
		dependencies = {${4}},
	},
