snippet #! "shebang"
	#!/usr/bin/env nu
snippet for '"for" invocation'
	for ${1:entry} in ${2:list} {
		$0
	}
snippet if '"if" invocation'
	if (${1:true}) {
		${2:print hi}
	}
snippet xn '"export def" invocation'
	export def ${1:name} [] {
		$0
	}
snippet xd '"export def" invocation'
	export def ${1:name} [ ...args ] {
		$0
	}
snippet xx "export extern"
	export extern ${1:cmd} [
		$0
		...args: any
	]
