update-xbps-lists/supervise/control
update-xbps-lists/supervise/lock
update-xbps-lists/supervise/ok
update-xbps-lists/supervise/pid
update-xbps-lists/supervise/stat
update-xbps-lists/supervise/status
